.form-container{
  width: 50%;
  border: 1px solid #aaa;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(154, 161, 171, 0.15) 0px 0px 35px 0px;
  background: rgb(255, 255, 255);
}
